$statusColor: rgb(238, 155, 155);

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;

    .profile__image {
        width: 200px;
    }
    .profile__name {
        font-size: 1.4rem;
    }
    .profile__status {
        font-size: 0.9rem;
        color: $statusColor;
    }
}

.post {
    margin-bottom: 20px;

    .post__message {
        margin-bottom: 10px;
    }
}
