$statusColor: rgb(250, 184, 184);

.user {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr 8fr 2fr;
    align-items: center;
    gap: 15px;
    

    .user__image {
        width: 90px;
    }

    .user__status {
        font-size: 1rem;
        color: $statusColor;
    }
}
